# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\morte\Documents\Dokumentation\1. Semester (Software Udvikling)\3. System Integration (SI)\Assignments\Week 41 - Lektion 6 - BPMN\Git\Assignment6-1_Week41_BPMN\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
